.media{
	margin-top:2rem !important;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
}
.media-left img{
	height:20rem;	
}
.media-heading span{
	float:right;
	margin-right:10px;
}
.media-body a{
	text-decoration:none !important;
	color:black !important;
}
.media-body .btn-group{
	float:right;
}
.media-body .btn-group button{
	top:8rem;
}
div[role='menu']{
	position:fixed;
	bottom:1rem;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width:80%;
}
@media only screen and (max-width:768px){
	.media-left img{
		margin-top:1rem;
		height:8rem;
	}
	.media-body p{
		font-size:1.2rem;
	}
	.media-body .btn-group button{
		font-size:1rem;
		height:2.6rem;
		top:0;	   
	}

}
